.container {
  /*display:flex;
  justify-content:center;
  align-items:center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 700px;
  align-items: center;
  text-align: center;*/
  margin:0;
  text-align: left;
}

a {
  text-decoration: none;
}

.header {
  margin-top: 25px;
  margin-left:10%;
  margin-right:10%;
}

.title {
  font-family: arial;
  font-size: 30px;
  color: rgb(255, 0, 59);
  text-decoration: none;
}

.emojis {
  display: inline-block;
  width: 20px;
  height: auto;
  padding-right: 0px;
}

.emojis2 {
  display: inline-block;
  width: 20px;
  height: auto;
  padding-right: 100px;
}

hr {
  width: 85%;
  border: 0.25px solid rgb(255, 0, 59);
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
  margin-left: 10%;
  margin-right: 10%;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33%;
  padding: 0 2px;
}

#work:hover .name{
  color: rgb(255, 0, 59);
}

#work:hover .tags {
  color: rgb(0, 0, 0);
}

#work:hover .thumbnail {
  opacity: 0.7;
}

#work:hover .my_class_1 {
  opacity: 0.7;
}

.thumbnail {
  margin-top: 8px;
  vertical-align: middle;
  width: 330px;
  height:auto;
}

ul {
  padding-left: 0px;
}

ul li {
  font-size: 13px;
  color: rgba(0, 0, 0, 1);
  line-height: 150%;
  margin-left: 30px;
}

.my_class_1 {
  vertical-align: middle;
  width:360px;
  height:auto;
}

.name {
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
  color: black;
  line-height: normal;
}

.tags {
  font-family: arial;
  font-size: 12px;
  color: rgba(0,0,0,0.5);
  line-height: 15%;
  padding-bottom: 10px;
}

.footer {
  font-family: arial;
  font-size: 15px;
  color: rgb(255, 0, 59);
  margin-left: 10%;
}

#logo {
  width: 20px;
  height: auto;
  padding-right: 15px;
}

.class-links {
  color: rgb(255, 0, 59);

}

#logo:hover .class-links {
  color: rgb(188, 0, 255);
}

.content {
  font-family: arial;
  margin-left: 10%;
  margin-right: 10%;
}

.font1 {
  font-size: 20px;
  color: rgb(255, 0, 59);
  line-height: normal;
  font-weight: bold;
}

.font2 {
  font-size: 13px;
  color: rgba(0, 0, 0, 1);
  line-height: 150%;
  margin-left: 30px;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 1200px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

/* shrink to one column on mobile */
@media screen and (max-width: 800px) {
  .row {
    display: block;
  }
  
  .thumbnail {
    width: 300px;
    height: auto;
  }

  .my_class_1 {
    width: 300px;
    height: auto;
  }
}


/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

.logo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  line-height: 55px;
  padding: 0 0px;
  color: rgb(255, 0, 59);
  float: left;
  font-family: arial;
  font-size: 30px;
}

/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 1200px) {
  .nav-collapse {
    float: right;
    width: auto;
  }
}

.nav-collapse li {
  float: left;
  width: 100%;
  padding-bottom: 5px;
}

@media screen and (min-width: 1200px) {
  .nav-collapse li {
    width: auto;
  }
}

.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  background: white;
  padding: 0em 0em;
  color: rgb(255, 0, 59);
  font-family: arial;
  font-size: 20px;
  width: 100%;
  float: left;
}

.nav-collapse a:active,
.nav-collapse .active a {
  font-weight: bold;
  color: rgb(188, 0, 255);
}

.nav-collapse a:hover {
  color: rgb(188, 0, 255);
}

@media screen and (min-width: 1200px) {
  .nav-collapse a {
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    float: left;
    margin: 0;
  }
}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 1200px) {
  .nav-collapse ul ul a {
    display: none;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: rgb(255, 0, 59); /* Edit this to change the icon color */
  font: normal 40px/55px "responsivenav"; /* Edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 40px;
  content: "\78"; /* Close icon */
}
